html {
  font-family: sans-serif;
}

body {
  background: #2c2c2c;
}

h2 {
  font-size: .8rem;
  margin: .5rem 0.5rem;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 2rem;
  color: #ff0062;
  border: 1px solid #a927f5;
}

progress[value]::-webkit-progress-bar, progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover, button:active {
  background: #a927f5;
  border-color: #a927f5;
}

#health-levels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.health-bar {
  width: 45%;
}

.right {
  text-align: right;
}

#health-levels, #controls, #game {
  margin: 2rem auto;
  width: 30rem;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

#controls {
  display: flex;
}

#controls button {
  width: 20%;
  font-size: .8rem;
  padding: .5rem;
}

#bonus-life {
  font-weight: bold;
  color: white;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}

#game {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
  position: relative;
  z-index: -10;
  overflow: hidden;
}

img.entity {
  width: 6rem;
  height: auto;
  z-index: 100000;
}

.arrow {
  width: 4rem;
  height: auto;
  position: absolute;
  top: 9.5vh;
  left: 5.8rem;
  z-index: -1;
  animation: shoot .2s linear;
}

@keyframes shoot {
  0% {
    left: calc(100% - 10rem);
  }
  100% {
    left: 5.8rem;
  }
}

.shake {
  animation: shakeAnimate .2s linear;
}

@keyframes shakeAnimate{
  0% {
    transform: skewX(10deg);
  }
  33% {
    transform: skewX(-10deg);
  }
  66% {
    transform: skewX(10deg);
  }
  100% {
    transform: skewX(10deg);
  }
}

.shrink {
  animation: shrinkAnimate .2s linear;
}

@keyframes shrinkAnimate{
  0% {
    transform: scale(1.05);
  }
  
  100% {
    transform: scale(1);
  }
}

.heal {
  width: 8rem;
  height: auto;
  position: absolute;
  top: -5vh;
  right: 1rem;
  z-index: -1;
  animation: healAnimate .5s linear;
}

@keyframes healAnimate{
  0% {
    top: -5vh;
  }
  100% {
    top: 20vh;
  }
}

.healing {
  
  animation: healingAnimate .5s linear;
}

@keyframes healingAnimate{
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}